{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2">
            <h2 id="subtitle">INFO - ALBUM</h2>
        </div>
        <div id="container3">
            <table class="tabella3">
                <tr><td colspan="5">
                    <table style="width: 100%;margin-bottom: 1%;margin-top: 1%;border-collapse: collapse;"><tr>
                        <td style="width: 35%;text-align: left;margin: 0%;border-bottom: 1px solid darkgray;"><h1 id="Playlist">{{album.titolo}}</h1></td>
                        {% if current_user.is_authenticated and album.id_artista == current_user.id %}
                        <td style="width: 8%;vertical-align: bottom;border-bottom: 1px solid darkgray;text-align: left;">
                           <a href="/album_stat/{{album.id_album}}"><h5 id="NuovaRaccolta">Statistiche</h5></a>
                        </td>
                        {% endif %}
                        <td style="width: 57%;border-bottom: 1px solid darkgray;"></td>
                    </tr></table>
                </td></tr>
                <tr>
                    <td colspan="5">
                        <table style="width: 100%;font-family: Helvetica;border-collapse: collapse;margin-bottom: 2%;margin-top: 0%;">
                            <tr>
                                <td>
                                    <table style="width:100%; table-layout: auto;">
                                        <tr>
                                            <td style="width: 5%;"><h3 class="text-section-2" style="font-weight: lighter;margin: 0%;">{{album.rilascio}}</h3></td>
                                            <td style="width: 20%;"><h3 class="text-section-2" style="font-weight: lighter;margin: 0%;">{{album.nickname}}</h3></td>
                                            <td style="width: 70%;text-align:right;"><h4 class="text-section-2" style="margin: 0%;color: #00323F;">{{tags.Tag_1}} {{tags.Tag_2}}</h4></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% for j,song in enumerate(song_album) %}
                {% if j!=0 and j%5== 0 %}
                </tr>
                {% endif %}
                {% if j%5 == 0 %}
                <tr>
                {% endif %}
                    {% if j >= 4 %}
                    <td style="display: none;" class="altri">
                    {% else %}
                    <td>
                    {% endif %}
                        <table class="tabella4" onmouseover="Select('S_{{j}}ID_A_{{i}}', 'S_{{j}}ID_B_{{i}}')" onmouseout="Deselect('S_{{j}}ID_A_{{i}}', 'S_{{j}}ID_B_{{i}}')">
                            <tr><td class="img-cell" colspan="2"><div class="img" style="background-color: {{ song.colore }}"></div></td></tr>
                            <tr><td class="manual-title-cell" colspan="2"><a href="Song.html"><h3 class="manual-title">{{song.titolo}}</h3></a></td></tr>
                            <tr>
                                <td class="footprint">
                                    <h4 class="footprint-text"> {{song.nickname}} </h4>
                                </td>
                                <td class="footprint-anno">
                                    <h5 class="footprint-text-anno"> {{song.rilascio}} </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag" colspan="2" id="S_{{j}}ID_A_{{i}}">
                                    <h5 class="footprint-text-hastag"> {{song.Tag_1}} {{song.Tag_2}} </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag-4" colspan="2" id="S_{{j}}ID_B_{{i}}" onmouseover="Info_over('S_{{j}}ID_B_{{i}}')" onmouseout="Info_out('S_{{j}}ID_B_{{i}}')" onmousedown="Song('{{song.id_canzone}}')">
                                    <h5 class="footprint-text-hastag"> INFO </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" onmousedown="Cancella('S_{{j}}E_{{i}}', 'S_{{j}}C_{{i}}')" onmouseover="EliminaOver('S_{{j}}E_{{i}}')" onmouseout="EliminaOut('S_{{j}}E_{{i}}')" class="footprint-hastag-2" id="S_{{j}}E_{{i}}">
                                    <h5 class="footprint-text-hastag">Elimina</h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag-3" id="S_{{j}}C_{{i}}">
                                    <h5 class="footprint-text-hastag">Cancellata</h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% if j==4 %}
                    <td id="ESPANDI">
                        <table class="tabella4">
                            <tr><td class="manual-title-cell" colspan="2"><h3 class="manual-title" style="color: white;">-</h3></td></tr>
                            <tr><td class="img-cell" colspan="2"><img id="img2" src="{{ url_for('static', filename='Img/down-arrow.png') }}"></td></tr>
                            <tr>
                                <td class="footprint">
                                    <h4 class="footprint-text" style="color: white;"> - </h4>
                                </td>
                                <td class="footprint-anno">
                                    <h5 class="footprint-text-anno" style="color: white;"> - </h5>
                                </td>
                            </tr><tr>
                                <td colspan="2" style="background-color: #00323F; color: white;" class="footprint-hastag-bis" id="ESPANDI-BUTTON" 
                                onmousedown="Espandi()" onmouseover="Select_Espandi('ESPANDI-BUTTON')" onmouseout="DeSelect_Espandi('ESPANDI-BUTTON')">
                                    <h5 class="footprint-text-hastag"> ESPANDI </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" id="footprint-hastag-2-bis">
                                    <h5 class="footprint-text-hastag">Elimina</h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag-3">
                                    <h5 class="footprint-text-hastag">Cancellata</h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                    {% if j == len(song_album)-1 %}
                    <td style="display: none;" class="altri">
                        <table class="tabella4">
                            <tr><td class="manual-title-cell" colspan="2"><h3 class="manual-title" style="color: white;">-</h3></td></tr>
                            <tr><td class="img-cell" colspan="2"><img id="img2" src="{{ url_for('static', filename='Img/up-arrow.png') }}"></td></tr>
                            <tr>
                                <td class="footprint">
                                    <h4 class="footprint-text" style="color: white;"> - </h4>
                                </td>
                                <td class="footprint-anno">
                                    <h5 class="footprint-text-anno" style="color: white;"> - </h5>
                                </td>
                            </tr><tr>
                                <td colspan="2" style="background-color: #00323F; color: white;" class="footprint-hastag-bis" id="RIDUCI-BUTTON" 
                                onmousedown="Riduci()" onmouseover="Select_Espandi('RIDUCI-BUTTON')" onmouseout="DeSelect_Espandi('RIDUCI-BUTTON')">
                                    <h5 class="footprint-text-hastag"> RIDUCI </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" id="footprint-hastag-2-bis">
                                    <h5 class="footprint-text-hastag">Elimina</h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag-3">
                                    <h5 class="footprint-text-hastag">Cancellata</h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        </div>
{% endblock%}
