<!DOCTYPE html>
<html>
    <head>
        <title>UniveMusic</title>
        <div id="logo">
            <table id="tabella0">
                <tr>
                    <td id="title-cell"><h1 id="titolo1">Unive</h1><h1 id="titolo2">Music</h1></td>
                    {% if current_user.is_authenticated %}
                    <td><a href="{{url_for('LoginBP.logout')}}"><table id="tabella00">
                        <tr>
                            <td class="link-cell">
                                <p class="link">Esci</p>
                            </td>
                            <td class="log-cell">
                                <img src="{{ url_for('static', filename='Img/user.png') }}" id="log-img">
                            </td>
                        </tr>
                    </table></a></td>
                    {% elif 'accedi' in request.url_rule.rule %}
                    <td><a href="{{url_for('LoginBP.registrati')}}"><table id="tabella00-3">
                        <tr>
                            <td class="link-cell">
                                <p class="link">Registrati</p>
                            </td>
                            <td class="log-cell-3">
                                <img src="{{ url_for('static', filename='Img/user.png') }}" id="log-card-img">
                            </td>
                        </tr>
                    </table></a></td>
                    {% else %}
                    <td><a href="{{url_for('LoginBP.accedi')}}"><table id="tabella00">
                        <tr>
                            <td class="link-cell">
                                <p class="link">Accedi</p>
                            </td>
                            <td class="log-cell">
                                <img src="{{ url_for('static', filename='Img/user.png') }}" id="log-img">
                            </td>
                        </tr>
                    </table></a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stile.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stile3.css') }}" />
        <script type="text/javascript">
            
            var Active = true;  
            var DeletedSongs = [];
            var DeletedPlaylist = ''
            var DeletedAlbum = ''
                
            function AddToPlaylist(){
                document.getElementById("box2").style.display = "block";
            }

            function ConfirmAddToPlaylist(){document.getElementById("box2").style.display = "none";}
            function AbortAddToPlaylist(){document.getElementById("box2").style.display = "none";}

            function CancellaRaccolta(PlaylistName, IdPlaylist){
                var messaggio = document.createElement('h4')
                var testo = document.createTextNode('Sei sicuro di voler cancellare la playlist '+PlaylistName+' ?')
                messaggio.appendChild(testo)
                document.getElementById("Message-box").appendChild(messaggio);
                document.getElementById("NewPlaylist2").style.display = "block";
                globalThis.DeletedPlaylist = IdPlaylist
            }
            function ConfermaCancellaRaccolta(){
                var messaggio = document.getElementById("Message-box").firstChild
                document.getElementById("NewPlaylist2").style.display = "none";
                document.getElementById("Message-box").removeChild(messaggio);
                window.location.href='/cancella_playlist/'+globalThis.DeletedPlaylist
            }
            function AnnullaCancellaRaccolta(){
                var messaggio = document.getElementById("Message-box").firstChild
                document.getElementById("NewPlaylist2").style.display = "none";
                document.getElementById("Message-box").removeChild(messaggio);
            }

            function CancellaAlbum(AlbumTitolo, IdAlbum){
                var messaggio = document.createElement('h4')
                var testo = document.createTextNode("Sei sicuro di voler cancellare l'album "+AlbumTitolo+' ?')
                messaggio.appendChild(testo)
                document.getElementById("Message-box").appendChild(messaggio);
                document.getElementById("box3").style.display = "block";
                globalThis.DeletedAlbum = IdAlbum
            }
            function ConfermaCancellaAlbum(){
                var messaggio = document.getElementById("Message-box").firstChild
                document.getElementById("box3").style.display = "none";
                document.getElementById("Message-box").removeChild(messaggio);
                window.location.href='/cancella_album/'+globalThis.DeletedAlbum
            }
            function AnnullaCancellaAlbum(){
                var messaggio = document.getElementById("Message-box").firstChild
                document.getElementById("box3").style.display = "none";
                document.getElementById("Message-box").removeChild(messaggio);
            }

            function Elimina(){
                var elements = document.getElementsByClassName("footprint-hastag-2");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="table-cell";
                }
                var elements = document.getElementsByClassName("footprint-hastag");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="none";
                }
                document.getElementById("Del").style.display="none"
                document.getElementById("Mod").style.display="none"
                document.getElementById("Elimina_tutto").style.display="table-cell"
                document.getElementById("Fatto").style.display="table-cell"
                globalThis.Active = false;
            }

            function SalvaModifiche(IdPlaylist){
                var elements = document.getElementsByClassName("footprint-hastag-2");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="none";
                }
                var elements = document.getElementsByClassName("footprint-hastag-3");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="none";
                }
                var elements = document.getElementsByClassName("footprint-hastag");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="table-cell";
                }
                var elements = document.getElementsByClassName("CreazionePlaylist");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="none";
                }
                document.getElementById("Del").style.display="table-cell"
                document.getElementById("Mod").style.display="table-cell"
                document.getElementById("Fatto").style.display="none"
                document.getElementById("Elimina_tutto").style.display="none"
                globalThis.Active = true;

                globalThis.DeletedSongs += [IdPlaylist]
                window.location.href='/rimuovi_canzone_da_playlist/' + globalThis.DeletedSongs
                globalThis.DeletedSongs = []
            }

            function Select(id_A, id_B){
                if(globalThis.Active){
                    document.getElementById(id_A).style.display = "none"
                    document.getElementById(id_B).style.display = "table-cell"
                }
            }

            function Deselect(id_A, id_B){
                if(globalThis.Active){
                    document.getElementById(id_A).style.display = "table-cell"
                    document.getElementById(id_B).style.display = "none"
                }
            }

            function Info_over(id){
                document.getElementById(id).style.backgroundColor = "white"
                document.getElementById(id).style.color = "#003e4f"
                document.getElementById(id).style.border = '1px solid #003e4f'
            }

            function Info_out(id){
                document.getElementById(id).style.border="1px solid white"
                document.getElementById(id).style.backgroundColor="#003e4f"
                document.getElementById(id).style.color="white"
            }

            function EliminaOver(id){
                document.getElementById(id).style.border="1px solid #b81a19"
                document.getElementById(id).style.backgroundColor="white"
                document.getElementById(id).style.color="#b81a19"
            }

            function EliminaOut(id){
                document.getElementById(id).style.border="1px solid white"
                document.getElementById(id).style.backgroundColor="#b81a19"
                document.getElementById(id).style.color="white"
            }

            function ShowSettings(){
                document.getElementById("cell-edit-img").style.display="table-cell"
                document.getElementById("cell-edit-img-2").style.display="table-cell"
            }

            function Cancella(id_E, id_C, IdCanzone){
                globalThis.DeletedSongs += [IdCanzone+' ']
                document.getElementById(id_E).style.display="none"
                document.getElementById(id_C).style.display="table-cell"
            }

            function Espandi(){
                document.getElementById('ESPANDI').style.display="none"
                var elements = document.getElementsByClassName("altri");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="table-cell";
                }
            }

            function Riduci(){
                document.getElementById('ESPANDI').style.display="table-cell"
                var elements = document.getElementsByClassName("altri");
                for(var i = 0, length = elements.length; i < length; i++){
                    elements[i].style.display ="none";
                }
            }

            function Select_Espandi(ID){
                document.getElementById(ID).style.backgroundColor="white"
                document.getElementById(ID).style.color="#00323F"
                document.getElementById(ID).style.border="1px solid #00323F"
            }

            function DeSelect_Espandi(ID){
                document.getElementById(ID).style.backgroundColor="#00323F"
                document.getElementById(ID).style.color="white"
                document.getElementById(ID).style.border="1px solid white"
            }

            function Song(Param){
                window.location.href='/canzone/'+Param
            }
        </script>
    </head>
    <body>
        <div id="container1">
            <table id="tabella1">
                <tr>
                    <td class="button" style="width: 10%;"><a href={{url_for('home')}} class="text-button">Musica</a></td>
                    {% if current_user.is_authenticated %}
                    <td class="button" style="width: 90%;"><a href={{url_for('UserBP.area_personale')}} class="text-button">{{current_user.nickname}}</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        {% block pagebody %}
        {% endblock %}
    </body>
    <script src="{{ url_for('static', filename='error.js') }}"></script> 
</html>