{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2">
            <h2 id="subtitle">DATI PERSONALI</h2>
        </div>
        <div id="container3">
            <table class="tabella3">
                <tr><td colspan="5">
                    <table style="width: 100%;margin-bottom: 1%;margin-top: 1%;border-collapse: collapse;"><tr>
                        <td style="width: 15%;text-align: left;margin: 0%;border-bottom: 1px solid darkgray;"><h1 id="Playlist">{{user.nickname}}</h1></td>
                        <td style="width: 10%;vertical-align: bottom;border-bottom: 1px solid darkgray;text-align: left;">
                            <a href="{{url_for('UserBP.private')}}"><h5 id="NuovaRaccolta">Raccolte</h5></a>
                        </td>
                        <td style="width: 60%;border-bottom: 1px solid darkgray;"></td>
                        {% if user.ruolo == 1 %}
                        <td style="width: 15%;vertical-align: bottom;border-bottom: 1px solid darkgray;text-align: left;">
                            <a href="{{url_for('ArtistBP.become_artist')}}"><h5 id="NuovaRaccolta">Diventa Artista</h5></a>
                        </td>
                        {% endif %}
                    </tr></table>
                </td></tr>
                <tr><td colspan="5">
                    <table style="width: 100%;font-family: Helvetica;border-collapse: collapse;">
                        <tr>
                            <td>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width: 15%;" id="Nome_Mod_1"><h3 class="text-section-2">{{user.nome}} {{user.cognome}}</h3></td>
                                        <td style="width: 15%;" id="Nome_Mod_1"><h4 class="text-section-2">{{user.data_nascita}}</h4></td>
                                        <td style="width: 64%;"></td>
                                        <td id="Mod">
                                            <a id="Mod_link" href="{{url_for('UserBP.mod_data')}}"><h5 style="margin: 0%;">Modifica</h5></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;">
                                    <tr>
                                        <td id="Desc_Mod_1" style="width: 92%;text-align: left;"><p style="color: #2F2F2F;margin-bottom:1%;margin-top: 0%;">{{user.bio}}</p></td>
                                        <td id="Desc_Mod_2" style="width: 92%;text-align: left;display: none;"><input type="text" placeholder="Descrizione" style="width: 80%;padding: 1%;" maxlength="50"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td></tr>
            </table>
        </div>
{% endblock%}
