{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2"><h2 id="subtitle">MODIFICA RACCOLTA</h2></div>
        <div id="container3">
            <table id="log-table"> 
                <form>
                    <tr>
                        <td class="input-cell-3" colspan="2"><input type="text" placeholder="Nome" class="input-3" style="margin-top: 4%;"></td>
                    </tr>
                    <tr>
                        <td class="input-cell-3" colspan="2"><input type="text" placeholder="Descrizione" class="input-3"></td>
                    </tr>
                    <tr>
                        <td style="font-family: Helvetica;color:#2F2F2F"><h4 style="margin-left: 7%; margin-bottom: 0%;">Per eliminare canzoni dalla playlist:</h4></td>
                    </tr>
                    <tr>
                        <td> 
                            <ul style="margin-left: 5%;font-family: Helvetica;color: #2F2F2F;">
                                <li style="margin-top: 1%;">Andare nella propria area utente</li>
                                <li style="margin-top: 1%;">Cliccare il tasto <i>Elimina</i> della playlist</li>
                                <li style="margin-top: 1%;">Eliminare le canzoni</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td id="submit-cell-3" colspan="2">
                            <input type="submit" id="button-3" value="Modifica"> 
                        </td>
                    </tr>
                </form>
            </table>
        </div>
{% endblock %}