{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2"><h2 id="subtitle">MODIFICA RACCOLTA</h2></div>
        <div class="error" aria-live="polite">{{ message }}</div>
        <div id="container3">
            <table class="log-table new"> 
                <form action="/mod_playlist_nome/{{id_playlist}}" method="POST" novalidate id="form_reg">
                    <tr>
                        <td class="label-cell" colspan="2"><label class="label"> Nome raccolta:</label></td>
                    </tr>
                    <tr>
                        <td class="input-cell-3 mod"><input type="text" required maxlength="16" name="Nome" placeholder="Giro a Paperopoli" class="input-3 sign-in"></td>
                        <td id="submit-cell-3"><button type="submit" id="button-3">Modifica</button></td>
                    </tr>
                </form>
                <form action="/mod_playlist_descr/{{id_playlist}}" method="POST" novalidate id="form_reg">
                    <tr>
                        <td class="label-cell" colspan="2"><label class="label"> Descrizione:</label></td>
                    </tr>
                    <tr>
                        <td class="input-cell-3 mod"><input type="text" required maxlength="160" name="Descrizione" placeholder="Le migliori canzoni paperopolesi" class="input-3 log-in"></td>
                        <td id="submit-cell-3"><button type="submit" id="button-3">Modifica</button></td>
                    </tr>
                </form>
                    <tr>
                        <td style="font-family: Helvetica;color:#2F2F2F"><h4 style="margin-bottom: 0%;">Per eliminare canzoni dalla playlist:</h4></td>
                    </tr>
                    <tr>
                        <td> 
                            <ul style="font-family: Helvetica;color: #2F2F2F;">
                                <li style="margin-top: 1%;">Andare nella propria area utente</li>
                                <li style="margin-top: 1%;">Cliccare il tasto <i>Elimina</i> della playlist</li>
                                <li style="margin-top: 1%;">Eliminare le canzoni</li>
                            </ul>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
{% endblock %}