{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2"><h2 id="subtitle">Nuova playlist</h2></div>
        <div class="error" aria-live="polite"></div>
        <div id="container3">
            <table class="log-table new"> 
                <form action="/nuova_playlist" method="POST" novalidate id="form_reg">
                    <tr>
                        <td class="label-cell" colspan="2"><label class="label"> Nome playlist:</label></td>
                    </tr>
                    <tr>
                        <td class="input-cell-3" colspan="2"><input type="text" required maxlength="16" name="Nome" placeholder="Greatest hits" class="input-3 sign-in"></td>
                    </tr>
                    <tr>
                        <td class="label-cell" colspan="2"><label class="label"> Descrizione:</label></td>
                    </tr>
                    <tr>
                        <td class="input-cell-3" colspan="2"><input type="text" required maxlength="160" name="Descrizione" placeholder="Le migliori canzoni di tutti i tempi" class="input-3 log-in"></td>
                    </tr>
                    <tr>
                        <td style="font-family: Helvetica;color:#2F2F2F"><h4 style="margin-left: 7%; margin-bottom: 0%;">Per aggiungere canzoni alla playlist:</h4></td>
                    </tr>
                    <tr>
                        <td> 
                            <ul style="margin-left: 5%;font-family: Helvetica;color: #2F2F2F;">
                                <li style="margin-top: 1%;">Andare su <i>Musica</i></li>
                                <li style="margin-top: 1%;">Selezionare la canzone desiderata</li>
                                <li style="margin-top: 1%;">Cliccare su <i>Aggiungi a</i></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td id="submit-cell-3" colspan="2">
                            <button type="submit" id="button-3">Crea</button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
{% endblock%}