{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2"><h2 id="subtitle">NUOVO RACCOLTA</h2></div>
        <div id="container3">
            <table id="log-table"> 
                <form action="/new_playlist" method="POST">
                    <tr>
                        <td class="input-cell-3" colspan="2"><input type="text" name="Nome" placeholder="Nome" class="input-3" style="margin-top: 4%;"></td>
                    </tr>
                    <tr>
                        <td class="input-cell-3" colspan="2"><input type="text" name="Descrizione" placeholder="Descrizione" class="input-3"></td>
                    </tr>
                    <tr>
                        <td style="font-family: Helvetica;color:#2F2F2F"><h4 style="margin-left: 7%; margin-bottom: 0%;">Per aggiungere canzoni alla playlist:</h4></td>
                    </tr>
                    <tr>
                        <td> 
                            <ul style="margin-left: 5%;font-family: Helvetica;color: #2F2F2F;">
                                <li style="margin-top: 1%;">Andare su <i>Musica</i></li>
                                <li style="margin-top: 1%;">Selezionare la canzone desiderata</li>
                                <li style="margin-top: 1%;">Cliccare su <i>Aggiungi a</i></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td id="submit-cell-3" colspan="2">
                            <input type="submit" id="button-3" value="Crea"> 
                        </td>
                    </tr>
                </form>
            </table>
        </div>
{% endblock%}