<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Progetto di Basi di Dati
    </h1>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Year</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        
            {% for song in songlist %}
                <p> {{ song.Titolo }} , {{ song.Durata}} </p>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>