<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Progetto di Basi di Dati
    </h1>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Year</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
            {% for song in songlist %}
                <tr>
                    <td>{{ song[0] }}</td>
                    <td>{{ song[1] }}</td>
                    <td>{{ song[2] }}</td>
                    <td>{{ song[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>