{% extends "Base.html" %}

{% block pagebody %}
        <div id="container2">
            <h2 id="subtitle">INFO - CANZONE</h2>
        </div>
        {% if current_user.is_authenticated %}
        <div id="box2">
            <table id="Playlist-table" style="border-collapse: collapse;">
                <form action="/AddSongToPlaylist/{{song.id_canzone}}" method="POST">
                    <tr>
                        <td colspan="2" style="text-align: center;background-color: #00323F;"><h2 style="margin-top:3%; margin-bottom: 2%; color:white">AGGIUNGI A</h2></td>
                    </tr>
                    {% for i,playlist in enumerate(playlists) %}
                    <tr>
                        <td style="text-align: right;"><h5 style="margin: 2%;margin-right: 5%;margin-top: 10%;">{{playlist.nome}}</h5></td>
                        <td style="text-align: left;"><input type="checkbox" name="P_{{i}}" style="margin: 2%;margin-left: 5%;margin-top: 10%;"></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align: right;width: 50%;"><input id="button-4-bis" style="margin-bottom: 10%;margin-top: 10%;" type="button" value="Annulla" onclick="ConfirmAddToPlaylist()"></td>
                        <td style="text-align: left;width: 50%;"><input id="button-4-bis"  style="margin-bottom: 10%;margin-top: 10%;" type="submit" value="Fatto" onclick="AbortAddToPlaylist()"></td>
                    </tr>
                </form>
            </table>
        </div>
        {% endif %}
        <div id="container3">
            <table class="tabella3">
                <tr><td colspan="5">
                    <table style="width: 100%;margin-bottom: 1%;margin-top: 1%;border-collapse: collapse;"><tr>
                        <td style="width: 30%;text-align: left;margin: 0%;border-bottom: 1px solid darkgray;"><h1 id="Playlist">{{song.titolo}}</h1></td>
                        {% if current_user.is_authenticated %}
                        <td style="width: 8%;vertical-align: bottom;border-bottom: 1px solid darkgray;text-align: left;" onmousedown="AddToPlaylist()">
                            <h5 id="NuovaRaccolta">Aggiungi a</h5>
                        </td>
                        {% if song.IdArtista == current_user.id %}
                        <td style="width: 8%;vertical-align: bottom;border-bottom: 1px solid darkgray;text-align: left;">
                           <a href="/SongStat/{{song.id_canzone}}"><h5 id="NuovaRaccolta">Statistiche</h5></a>
                        </td>
                        {% endif %}
                        {% endif %}
                        <td style="width: 74%;border-bottom: 1px solid darkgray;"></td>
                    </tr></table>
                </td></tr>
                <tr><td colspan="5">
                    <table style="width: 100%;font-family: Helvetica;border-collapse: collapse;">
                        <tr>
                            <td>
                                <table style="width:100%; table-layout: auto;">
                                    <tr>
                                        <td style="width: 5%;"><h3 class="text-section-2" style="font-weight: lighter;margin: 0%;">{{song.rilascio}}</h3></td>
                                        <td style="width: 5%;"><h3 class="text-section-2" style="font-weight: lighter;margin: 0%;">{{song.durata}}</h3></td>
                                        <td style="width: 20%;"><h3 class="text-section-2" style="font-weight: lighter;margin: 0%;">{{song.nickname}}</h3></td>
                                        <td style="width: 70%;text-align:right;"><h4 class="text-section-2" style="margin: 0%;color: #00323F;">{{tags.Tag_1}} {{tags.Tag_2}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <a href="/album/{{album.IdAlbum}}"><h3 class="text-section-2" style="color: #006840;margin-top: 1%;">{{album.titolo}}</h3></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td></tr>
                <tr>
                {% for i,song in enumerate(song_album) %}
                {% if i!=0 and i%5== 0 %}
                </tr>
                {% endif %}
                {% if i%5 == 0 %}
                <tr>
                {% endif %}
                    {% if i >= 4 %}
                    <td style="display: none;" class="altri">
                    {% else %}
                    <td>
                    {% endif %}
                        <table class="tabella4" onmouseover="Select('S4_ID_A_{{i}}', 'S4_ID_B_{{i}}')" onmouseout="Deselect('S4_ID_A_{{i}}', 'S4_ID_B_{{i}}')">
                            <tr><td class="img-cell" colspan="2"><div class="img" style="background-color: {{ song.Colore }}"></div></td></tr>
                            <tr><td class="manual-title-cell" colspan="2"><h3 class="manual-title">{{song.titolo}}</h3></td></tr>
                            <tr>
                                <td class="footprint">
                                    <h4 class="footprint-text"> {{song.nickname}} </h4>
                                </td>
                                <td class="footprint-anno">
                                        <h5 class="footprint-text-anno"> {{song.rilascio}} </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag" colspan="2" id="S4_ID_A_{{i}}">
                                    <h5 class="footprint-text-hastag"> {{song.Tag_1}} {{song.Tag_2}} </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="footprint-hastag-4" colspan="2" id="S4_ID_B_{{i}}" onmouseover="Info_over('S4_ID_B_{{i}}')" onmouseout="Info_out('S4_ID_B_{{i}}')" onmousedown="Song('{{song.id_canzone}}')">
                                    <h5 class="footprint-text-hastag"> INFO </h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% if i==4 %}
                    <td id="ESPANDI">
                        <table class="tabella4">
                            <tr><td class="manual-title-cell" colspan="2"><h3 class="manual-title" style="color: white;">-</h3></td></tr>
                            <tr><td class="img-cell" colspan="2"><img id="img2" src="{{ url_for('static', filename='Img/down-arrow.png') }}"></td></tr>
                            <tr>
                                <td class="footprint">
                                    <h4 class="footprint-text" style="color: white;"> - </h4>
                                </td>
                                <td class="footprint-anno">
                                    <h5 class="footprint-text-anno" style="color: white;"> - </h5>
                                </td>
                            </tr><tr>
                                <td colspan="2" style="background-color: #00323F; color: white;" class="footprint-hastag-bis" id="ESPANDI-BUTTON" 
                                onmousedown="Espandi()" onmouseover="Select_Espandi('ESPANDI-BUTTON')" onmouseout="DeSelect_Espandi('ESPANDI-BUTTON')">
                                    <h5 class="footprint-text-hastag"> ESPANDI </h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                    {% if i == len(songAlbum)-1 %}
                    <td style="display: none;" class="altri">
                        <table class="tabella4">
                            <tr><td class="manual-title-cell" colspan="2"><h3 class="manual-title" style="color: white;">-</h3></td></tr>
                            <tr><td class="img-cell" colspan="2"><img id="img2" src="{{ url_for('static', filename='Img/up-arrow.png') }}"></td></tr>
                            <tr>
                                <td class="footprint">
                                    <h4 class="footprint-text" style="color: white;"> - </h4>
                                </td>
                                <td class="footprint-anno">
                                    <h5 class="footprint-text-anno" style="color: white;"> - </h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="background-color: #00323F; color: white;" class="footprint-hastag-bis" id="RIDUCI-BUTTON" 
                                onmousedown="Riduci()" onmouseover="Select_Espandi('RIDUCI-BUTTON')" onmouseout="DeSelect_Espandi('RIDUCI-BUTTON')">
                                    <h5 class="footprint-text-hastag"> RIDUCI </h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        </div>
{% endblock%}
